<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd" default-lazy-init="true">

	<task:annotation-driven/>
	<bean id="tempDir" class="com.dingjian.bi.export.util.TempDir">
		<property name="tmpDir" value="E:/BI-TEMP" />
	</bean>
	<bean id="phantomjsServer" class="com.dingjian.bi.export.server.Server">
		<property name="host" value="127.0.0.1"/>
		<property name="port" value="7780"/>
		<!-- 
		<property name="readTimeout" value="${readTimeout}"/>
		<property name="connectTimeout" value="${connectTimeout}"/>
		<property name="maxTimeout" value="${maxTimeout}"/>
		 -->
	</bean>
</beans>
